VITE_CONTRACT_ID=YOUR_CONTRACT_ID_HERE
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_API_URL=http://localhost:3000/api/v1
VITE_SMS_SHORTCODE=20880
VITE_SMS_WEBHOOK_DOCS=https://github.com/Dev-AdeTutu/Stellar-Solar-Grid/blob/main/backend/README.md
